<nav class="nav">
    <div class="nav__item nav__item--active">
        <img src="/icons/system-dark.svg" />
    </div>
    <div class="nav__bookmarks">
        <div @onclick="@(() => ChangeSelectedBookmark(1))" 
             class="nav__item @(SelectedBookmark == 1 ? "nav__item--active" : string.Empty)">
            <img src="/icons/star-@(SelectedBookmark == 1 ? "dark" : "white").svg" />
            <span class="item__description">Zakładka 1</span>
        </div>
        <div @onclick="@(() => ChangeSelectedBookmark(2))" 
             class="nav__item @(SelectedBookmark == 2 ? "nav__item--active" : string.Empty)">
            <img src="/icons/star-@(SelectedBookmark == 2 ? "dark" : "white").svg" />
            <span class="item__description">Zakładka 2</span>
        </div>
    </div>
</nav>
