@import '../wwwroot/sass/_variables.scss';

.users {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: red;
    border-radius: 8px;
    margin: 2rem;
    background: radial-gradient(at top left, rgba(255, 255, 255, .4), transparent);
    max-width: 37.73%;
    padding: 1.5rem;

    &__header {
        display: flex;
        justify-content: space-between;
        height: 10rem;

        .users__title {
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
        }

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &__list {
        display: flex;
    }
}
