<div class="users">
    <div class="users__header">
        <span class="users__title">Użytkownicy</span>
        <img src="/icons/dots-vertical.svg" />
    </div>
    <div class="users__list">
        <MudDropZone T="UserVM" Style="display: flex; flex-direction: row; flex-wrap: wrap; flex: 1;" 
        Identifier="0" AllowReorder="true" />
    </div>
</div>
