@page "/"

<PageTitle>Users Management</PageTitle>

<div class="users-management">
    <MudDropContainer T="UserVM" Items="_users" ItemsSelector="@((user, assignedGroup) => user.AssignedGroup == assignedGroup)" 
                      ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
        <ChildContent>
            <Users />
            <AssignedUsers />
        </ChildContent>
        <ItemRenderer>
            <UserTile User="@context" TileOrderNumber="0" />
        </ItemRenderer>
    </MudDropContainer>
</div>

@code {
    private const string UserDefaultGroup = "1";

    private void ItemUpdated(MudItemDropInfo<UserVM> dropItem)
    {
        dropItem.Item.AssignedGroup = dropItem.DropzoneIdentifier;
    }

    private List<UserVM> _users = new()
    {
        new UserVM(){ Name = "Adam", LastName = "Kowalski", City = "Radom", AssignedGroup = UserDefaultGroup },
        new UserVM(){ Name = "Piotr", LastName = "Piotrowski", City = "Radom", AssignedGroup = UserDefaultGroup },
        new UserVM(){ Name = "Magda", LastName = "Nowakowska", City = "Warszawa", AssignedGroup = UserDefaultGroup },
        new UserVM(){ Name = "Jan", LastName = "Nowak", City = "Radom", AssignedGroup = UserDefaultGroup }
    };
}