@page "/"

<PageTitle>Users Management</PageTitle>

<div class="users-management">
    <MudDropContainer T="UserVM" Items="_users" ItemsSelector="@((user, assignedGroup) => user.AssignedGroup == assignedGroup)" 
                      ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
        <ChildContent>
            <Users />
            <AssignedUsers />
        </ChildContent>
        <ItemRenderer>
            <UserTile User="@context" TileOrderNumber="0" />
        </ItemRenderer>
    </MudDropContainer>
</div>
